html
{
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 3vw;
    margin: 0;
    justify-content: space-evenly;
    min-height: 100%;
}


.main
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 90%;
    flex: 3;
}

.main div
{
    text-align: center;
}

div div#time
{
    font-size: 12vw;
    padding-top: 3vw;
    padding-bottom: 6vw;
    
}

#playArea
{
    flex-grow: 13;
    display: flex;
    flex-direction: column;
    background-color: rgb(4, 4, 39);
    justify-content: space-around;
}

#playArea div
{
    padding-top: 10px;
    padding-bottom: 10px;
    color: wheat;
}

#message
{
    text-align: center;
    padding-top: 10px;
    background-color: rgb(0, 47, 255);
    flex: 1;
    color: rgb(179, 219, 245);
}

div#topic
{
    font-size: 7vw;
    color: wheat;
}

#scores
{
    width: 20%;
    flex-grow: 1;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#scores div
{
    display: flex;
    padding-left: 1vw;
    color: rgb(4, 4, 39);
}

#scores input
{
    color: rgb(4, 4, 39);
}

#scores div div
{
    padding-top: 0.5vw;
}

#scores div input
{
    background-color: transparent;
    font-size: 3vw;
    width: 12vw;
    border: 0px;
    text-align: right;
}

#scores div input.score
{
    background-color: transparent;
    font-size: 4vw;
    width: 4.5vw;
    border: 0px;
    text-align: left;
    padding-left: 1vw;
}